#ins {
	background-color: grey;
	text-align: center;
}

.gem {
	height: 75px;
	width: 75px;
	text-align: center;
	margin: 20px;

}
.blue {
	background-color: #008B8B;
	text-align: center;
}
.pan {
	background-color: #228B22;
}
.num {
	background-color:  #008B8B;
	margin: 30px; 
}